<div class="signin">
    <h2>Naam: &nbsp; <input id="username" name="username" type="text" autofocus></h2>
    <h2>Wachtwoord: &nbsp; <input id="password" name="password" type="password"></h2>
</div>
