<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
<div class="main">
    <h1>Rate your day</h1>
    <form id="emotionsForm" method="POST" action="/submit-form">
        <% include ../partials/signin.ejs %>
        <p id="errorMessage" class="error">Choose a name</p>
        <% include ../partials/body.ejs %>
    </form>
</div>
</body>
</html>
