<div class="emotions">
    <input type="hidden" id="emotion" name="emotion">
    <input type="hidden" id="timestamp" name="timestamp">
    <button id="sad"><img src="img/trafficlight-red.png" width="255px" style="margin-left: 1px" title="Unhappy"></button>
    <button id="unsure"><img src="img/trafficlight-orange.png" width="256px" title="Neutral"></button>
    <button id="happy"><img src="img/trafficlight-green.png" width="256px" title="Happy"></button>
</div>


<script type="text/javascript" src="js/trafficlight.js"></script>

