<div class="emotions">
    <h1>Wat is je gevoel vandaag?</h1>
    <input type="hidden" id="emotion" name="emotion">
    <input type="hidden" id="timestamp" name="timestamp">
    <button id="happy"><img src="img/grinning-face-with-smiling-eyes.png" title="Blij!"></button>
    <button id="unsure"><img src="img/neutral-face.png" title="Neutraal"></button>
    <button id="sad"><img src="img/disappointed-face.png" title="Niet blij!"></button>
    <p>Vul je naam en wachtwoord in en kies een emoji</p>
</div>


<script type="text/javascript" src="js/stoplicht.js"></script>

