<div class="signin">
    <h2>Name: &nbsp<input id="username" name="username" list="names" autofocus></h2>
    <datalist id="names">
        <option value="Bert"></option>
        <option value="Salar"></option>
        <option value="Tessa"></option>
        <option value="Wouter"></option>
        <option value="Pim"></option>
        <option value="Kwan Win"></option>
        <option value="Erwin"></option>
        <option value="Sander"></option>
    </datalist>
</div>
