<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
<form id="emotionsForm" method="POST" action="/submit-form">
  <% include ../partials/signin.ejs %>
  <% include ../partials/body.ejs %>
</form>
</body>
</html>
